<div class="sign-in">
    <div class="left">
  <!-- <img src="/images/attention.jpg" alt=""> -->
    </div>
    <div class="right">
<form action="/users/create-session" id="sign-in-form" method="POST">
    <h1>Log In</h1>

    <input type="email" name="email" placeholder="enter your email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" id="sub" value="Sign in">
    
    
    </form>
    </div>
</div>