<div class="sign-in">
    <div class="left">

    </div>
    <div class="right">

<form action="/users/create" method="POST" id="sign-up-form">
    <h1> Sign up</h1>

    <input type="text" name="name"  placeholder="enter your name" required>
    <input type="email" name="email"  placeholder="enter your email" required>
    <input type="password" name="password"  placeholder=" password" required>
    <input type="password" name="confirm_password"  placeholder="conform password" required>
    <input type="submit" id="sub" value="Sign up">

</form>
    </div>
</div>